<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Lead:</strong>
    <%= @article.lead %>
</p>
 
<p>
    <strong>Text:</strong>
    <%= @article.content %>
</p>
<%= link_to '<button type="button">Edit</button>'.html_safe, edit_article_path %>
<%= link_to "Back", new_article_path %>